<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" />
  </head>
  <body>
    <h3>Bad URLs</h3>
    <table class="ui sortable celled table">
      <thead>
        <tr>
          <th>URL</th>
          <th>reason</th>
          <th>hits</th>
        </tr>
      </thead>
      <tbody>
        {{#badurls}}
          <tr>
            <td><a href="{{url}}">{{url}}</a></td>
            <td>{{reason}}</td>
            <td>{{hits}}</td>
          </tr>
        {{/badurls}}
      </tbody>
    </table>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
    <script>
     $('table').tablesort();
    </script>
  </body>
</html>
